.filters-container {
  flex-direction: column;
  display: flex;
  gap: 20px;
  padding-bottom: 2rem;

  .clear-button {
    width: 50%;
    margin-top: 1rem;
    align-self: flex-end;
    height: 45px;
    border-radius: 8px;
  }

  .inputs-container {
    flex-direction: column;
  }

  .slider-filter {
    width: 100%;
  }
  .inputs-container {
    display: flex;
    gap: 10px;

    select,
    div {
      display: flex;
      justify-content: space-between;
    }
  }

  @media (min-width: 992px) {
    flex-direction: row;
    width: 100%;

    .slider-filter {
      width: 50%;
    }

    .clear-button {
      width: 12%;
      span {
        font-size: medium;
      }
    }

    .inputs-container {
      flex-direction: row;

      select,
      div {
        display: flex;
        flex-direction: column;
        justify-content: end;
      }
    }
  }
}
