.main-container {
  padding: 1rem;
}

.sortable tr {
  cursor: pointer;
}

.error-message {
  font-weight: bold;
  color: red;
}

select,
input {
  border-radius: 4px;
}

.btn {
  border: 1px solid transparent;
  cursor: pointer;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
