.slider-container {
    position: relative;
    text-align: center;
  
    .value-labels {
      padding: 0 0 10px 0;
      display: flex;
      justify-content: space-between;
  
      &::after {
        content: "-";
        order: 2;
        font-size: 300;
        margin: 0 15px;
        align-self: center;
      }
  
      #slider-start-value {
        order: 1;
      }
  
      #slider-end-value {
        order: 3;
      }
    }
  }